<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MongoDBService" value="true"/>
    <add key="MongoDBServerAddress" value=""/>
    <add key="MongoDBDatabaseName" value=""/>
    <add key="DatabaseWriteQueueSize" value="10"/>
    <add key="MaxAnalyzerRuntimeHours" value="0"/>
    <add key="RSSFeedHistoryRangeForScrapingInDays" value="60"/>
    <add key="WebScrapingTimeIntervalsInMinutes" value="5"/>
    <add key="WebScrapingConfigurationFileLocation" value="WebSources.conf"/>
  </appSettings>
</configuration>