<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="MongoDBService" value="true"/>
    <add key="MongoDBServerAddress" value="mongodb://localhost:27017"/>
    <add key="MongoDBDatabaseName" value="AnalyzerWebScraperDB"/>
    <add key="DatabaseWriteQueueSize" value="4"/>
    <add key="MaxAnalyzerRuntimeHours" value="0"/>
    <add key="RSSFeedHistoryRangeForScrapingInDays" value="60"/>
    <add key="WebScrapingTimeIntervalsInMinutes" value="5"/>
    <add key="WebScrapingConfigurationFileLocation" value="WebSources.conf"/>
    <add key="RSSFeedReaderWaitTimeInMilliseconds" value="3000"/>
    <add key="WebDataReaderWaitTimeInMilliseconds" value="3700"/>
    <add key="UserAgentOptions" value="Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3) AppleWebKit/537.75.14 (KHTML, like Gecko) Version/7.0.3 Safari/7046A194A#Mozilla/5.0 (Windows NT 6.1; WOW64; rv:40.0) Gecko/20100101 Firefox/40.1#Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2228.0 Safari/537.36#Opera/9.80 (X11; Linux i686; Ubuntu/14.10) Presto/2.12.388 Version/12.16"/>
  </appSettings>
</configuration>